<div class="modal">
    <h2 class="title"  mat-dialog-title>Agendamento de consulta</h2>
    <div class="texto" mat-dialog-content>
      <p>Sua consulta foi marcada com sucesso, dados no email.</p>
      <div class="erro"><img src="../../../assets/imgs/attention-147439_1280.png" alt=""></div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Fechar</button>
      <button mat-raised-button color="primary" (click)="onYesClick()">Aceitar</button>
    </div>
</div>
