.modal {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #194a8b;
}

.texto {
  color: #555;
}

.erro img {
  width: 40px;
  height: 40px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mat-dialog-actions button {
  display: inline-block;
  margin: 0 10px;
}

button {
  margin-left: 10px;
  margin-top: 20px;
}

.modal button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:nth-child(2) {
  background-color: #1976d2;
  color: #fff;
}

.modal button:nth-child(2):hover {
  background-color: #1565c0;
}

.modal button:first-child {
  background-color: #e0e0e0;
  color: #000;
}

.modal button:first-child:hover {
  background-color: #bdbdbd;
}