<div class="container">
    <h1>Sobre Nós - MaxMedical</h1>
  
    <div class="conteudo">
      <h2>Quem Somos</h2>
      <p class="descricao">A MaxMedical é uma empresa especializada em agendamento de consultas médicas online. Nossa missão é fornecer um serviço fácil, conveniente e acessível para agendar consultas com médicos de diferentes especialidades.</p>
      
      <h2>Nossa Visão</h2>
      <p class="descricao">Buscamos ser líderes no mercado de agendamento de consultas online, oferecendo aos pacientes uma experiência superior, conectando-os aos melhores profissionais de saúde.</p>
      
      <h2>Nossos Valores</h2>
      <ul>
        <li>Excelência: Buscamos sempre a excelência em tudo o que fazemos, desde o atendimento ao cliente até a qualidade dos nossos serviços.</li>
        <li>Compromisso: Nosso compromisso é com a satisfação dos nossos pacientes e com a parceria de confiança com os médicos.</li>
        <li>Inovação: Estamos constantemente buscando inovação e tecnologia para aprimorar nossos serviços e oferecer a melhor experiência aos nossos usuários.</li>
      </ul>
      
      <h2>Nossos Serviços</h2>
      <p class="descricao">Oferecemos uma plataforma online que permite aos pacientes agendar consultas médicas de forma rápida e conveniente. Nossa plataforma é fácil de usar, segura e está disponível 24 horas por dia, 7 dias por semana.</p>
      
      <h2>Nossa Equipe</h2>
      <div class="equipe">
        <div class="membro">
          <img class="foto" src="../../../../assets/imgs/medico1.jpg" alt="Foto Membro 1">
          <div class="informacoes">
            <h3>Dr. João Silva</h3>
            <p>Médico Cardiologista</p>
          </div>
        </div>
        
        <div class="membro">
          <img class="foto" src="../../../../assets/imgs/medica3.jpg" alt="Foto Membro 2">
          <div class="informacoes">
            <h3>Dra. Maria Santos</h3>
            <p>Médica Pediatra</p>
          </div>
        </div>
        
        <div class="membro">
          <img class="foto" src="../../../../assets/imgs/medico2.avif" alt="Foto Membro 3">
          <div class="informacoes">
            <h3>Dr. Carlos Oliveira</h3>
            <p>Médico Ortopedista</p>
          </div>
        </div>
      </div>
    </div>
</div>
