mat-dialog-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.my-table {
  border-collapse: collapse;
}

.my-table td, .my-table th {
  border: 1px solid #ccc;
  padding: 8px;
}




