<mat-dialog-content>
    <h2>Horários disponíveis para a consulta médica</h2>
    <table mat-table [dataSource]="horarios" class="mat-elevation-z8">
    
      <!-- Data Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef> Horario </th>
        <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
      </ng-container>
    
      <!-- disponivel Column -->
      <ng-container matColumnDef="disponivel">
        <th mat-header-cell *matHeaderCellDef> Disponivel </th>
        <td mat-cell *matCellDef="let element">{{ element.disponivel ? 'Disponivel' : 'indisponivel' }}</td>
      </ng-container>
    
      <!-- Checkbox Column -->
      <ng-container matColumnDef="selecionar-consultar">
       <th mat-header-cell *matHeaderCellDef> Selecionar Consultar</th>
       <td mat-cell *matCellDef="let row">
         <input type="checkbox" (click)="$event.stopPropagation()"
                       (change)="onCheckboxChange(row, $event)"
                       [checked]="!row.disponivel"
                       [disabled]="!row.disponivel"/>
       </td>
     </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>

    </table>
  </mat-dialog-content>
  
  <mat-dialog-actions class="botao-table">
    <button class="botao-modal" mat-button (click)="onNoClick()">Fechar</button>
    <button class="botao-modal" mat-button (click)="salvarSelecionados()">Salvar</button>
  </mat-dialog-actions>

  <!-- https://stackblitz.com/angular/lrpjroljdly?embed=1&file=app/table-selection-example.html -->
