mat-dialog-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.my-table {
  border-collapse: collapse;
}

.my-table td, .my-table th {
  border: 1px solid #ccc;
  padding: 8px;
}

.botao-table{
  display: flex;
  justify-content: flex-end;
}

.botao-modal{
  background-color: aqua;
  padding: 20px;
  color: black;
  font-size: 14px;
  font-weight: bolder;
}









