<div class="formularioCadastro-container">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="formularioCadastro" #formDir="ngForm">
        <div class="input-form">
            <div>
                <label for="fullname">Nome Completo</label>
                <input type="text" id="fullname" formControlName="fullname">
                <div *ngIf="fullname.invalid && formDir.submitted" class="validation-error">
                    <p>O Nome completo é obrigatório</p>
                    <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                    <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
                </div>

                <div>
                    <label for="email">E-mail</label>
                    <input type="text" id="email" formControlName="email">
                    <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
                        <p>O E-mail é obrigatório</p>
                        <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                        <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
                    </div>
                </div>
                <div>
                    <label for="phone">Telefone</label>
                    <input type="text" id="phone" formControlName="phone">
                    <div *ngIf="phone.invalid && formDir.submitted" class="validation-error">
                        <p>O telefone é obrigatório</p>
                        <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                        <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
                    </div>
                </div>
                <div>
                    <label for="password">Senha</label>
                    <input type="password" id="password" formControlName="password">
                    <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
                        <p>A senha é obrigatória</p>
                        <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                        <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
                    </div>
                </div>
                <div>
                    <label for="passwordConfirm">Confirma Senha</label>
                    <input type="passwordConfirm" id="passwordConfirm" formControlName="passwordConfirm">
                    <div *ngIf="passwordConfirm.invalid && formDir.submitted" class="validation-error">
                        <p>A senha é obrigatória</p>
                        <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                        <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
                    </div>
                </div>
            </div>
            <div class="botao-form">
                <mat-card-actions class="botaoCadastro">
                    <button type="submit">Register</button>
                </mat-card-actions>
            </div>
        </div>
    </form>
</div>