<div class="container">
    <div class="plano-info">
        <h1>Plano para Crianças e Jovens - MaxMedical</h1>
        
        <h2>Descrição do Plano 1:</h2>
        <p>O Plano 1 da MaxMedical é um plano de saúde completo que oferece uma ampla cobertura médica para atender todas as suas necessidades de saúde. Com uma extensa rede de médicos, hospitais e clínicas parceiras, garantimos acesso fácil e rápido aos serviços de saúde de alta qualidade.</p>
        
        <div class="detalhes">
          <h2>Detalhes do Plano 1:</h2>
          <p>Preço: R$ 100,00/mês</p>
          <p>Idade mínima: 0 anos</p>
          <p>Idade máxima: 18 anos</p>
          <p>Cobertura:</p>
          <ul>
            <li>Consultas médicas</li>
            <li>Exames laboratoriais</li>
            <li>Procedimentos cirúrgicos</li>
            <li>Internações hospitalares</li>
            <li>Tratamentos especializados</li>
            <li>Medicamentos</li>
          </ul>
          <p>Endereço: Rua A, 123</p>
          <p>Telefone: (123) 456-7890</p>
        </div>
        
        <div class="empresa-info">
          <h3>Sobre a MaxMedical:</h3>
          <p>A MaxMedical é uma empresa líder no setor de saúde, comprometida em fornecer serviços de qualidade e soluções inovadoras para cuidar da saúde e do bem-estar de nossos clientes. Com uma equipe dedicada e experiente, estamos prontos para atender às necessidades individuais de cada beneficiário, oferecendo um atendimento personalizado e eficiente.</p>
        </div>
      </div>
</div>
