<div class="container">
    <h1>Saiba Mais - Agendamento de Consultas</h1>
  
  <p>
    Bem-vindo à página de informações sobre o agendamento de consultas no nosso site. Através do nosso sistema de agendamento online, proporcionamos uma experiência prática e conveniente para agendar suas consultas médicas. Aqui está tudo o que você precisa saber:
  </p>
  
  <div class="feature-list">
    <h2>Principais Recursos do Agendamento Online:</h2>
    <ul>
      <li>Agendamento fácil e rápido com apenas alguns cliques.</li>
      <li>Disponibilidade 24 horas por dia, 7 dias por semana.</li>
      <li>Acesso a informações detalhadas sobre os médicos, suas especialidades e qualificações.</li>
      <li>Lembrete automático de consultas por e-mail ou SMS.</li>
      <li>Possibilidade de cancelar e reagendar consultas de forma simples e conveniente.</li>
    </ul>
  </div>
  
  <p>
    O <span class="highlight">agendamento online</span> é uma opção prática para evitar longas esperas e garantir um atendimento eficiente. Ao utilizar nosso sistema de agendamento, você tem a liberdade de escolher o médico e horário de sua preferência, de acordo com a disponibilidade disponibilizada na plataforma.
  </p>
  
  <p>
    Nossos médicos são especialistas altamente qualificados em diversas áreas da saúde, garantindo um atendimento de qualidade e confiança. Você pode encontrar informações detalhadas sobre cada médico, como suas especialidades, formação acadêmica e experiência profissional, para ajudá-lo a tomar a melhor decisão ao agendar sua consulta.
  </p>
  
  <div class="contact-info">
    <h2>Entre em Contato</h2>
    <p>
      Se você tiver alguma dúvida, precisar de suporte adicional ou desejar obter mais informações sobre nossos serviços, nossa equipe de atendimento está pronta para ajudar.
    </p>
    <p>
      Telefone: (123) 456-7890
    </p>
    <p>
      E-mail: contato@nomedaempresa.com
    </p>
  </div>
</div>
