<div class="formularioLogin-container">
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="formularioLogin" #formDir="ngForm">
        <div class="input-form">
            <div>
                <label for="email">E-mail:</label>
                <input type="text" id="email" formControlName="email">
            </div>
            <div *ngIf="getEmail.invalid && formDir.submitted" class="validation-error">
                <p>O E-mail é obrigatório</p>
                <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="senha" id="senha" formControlName="senha">
            </div>
            <div *ngIf="getSenha.invalid && formDir.submitted" class="validation-error">
                <p>A senha é obrigatório</p>
                <!-- <p *ngIf="title.errors?.['required']">O título é obrigatório</p> -->
                <!-- <p *ngIf="title.errors?.['maxLenght']">O título é obrigatório</p> -->
            </div>
        </div>
        <div class="botao-form">
            <mat-card-actions class="botaoLogin">
                <button type="submit" click="login()">Login</button>
            </mat-card-actions>
        </div>
        <a mat-button routerLink="/cadastro-medical" class="botaoRegister">Cadastre-se</a>
    </form>
</div>
