.login{
    display: flex;
    align-items: center;
    // background-color: #4dc7bb;
    background-color: white;
    width: 100%;
    height: 80vh;
}

.loginlogoleft {
    width: 65%;
    height: auto;
}

@media (min-width: 1920px){
    .loginlogoleft img{
        width: 70%;
    }
}
.loginlogoleft img{
    width: 80%;

}

.loginInput{
    height: auto;
    background-color: #4dc7bb;
    border-radius: 10px;
    padding-right: 30px;
}