.home{
    background-image: url("../../../assets/imgs/imagem-fundo-home.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}

.section-cards{
    display: flex;
    justify-content: space-around;
    
}