<div class="home">
  <div class="section-cards">
    <div>
      <app-cards
      [title] = "title"
      [subtitle] = "subtitle"
      [url] = "url"
      [title] = "title"
      [textContent] = "textContent"
      [buttonright] = "buttonright"
      [buttonleft] = "buttonleft"
      [alt] = "alt"
      ></app-cards>
    </div>
    <div>
      <app-cards
      [title] = "title"
      [subtitle] = "subtitle"
      [url] = "url"
      [title] = "title"
      [textContent] = "textContent"
      [buttonright] = "buttonright"
      [buttonleft] = "buttonleft"
      [alt] = "alt"
      ></app-cards>
    </div>
  </div>
</div>


