<div class="container">
    <div class="plano-info">
        <h1>Plano para Adultos - MaxMedical</h1>
        
        <h2>Descrição do Plano 2:</h2>
        <p>O Plano 2 da MaxMedical é uma opção premium para quem busca o mais alto nível de cobertura e serviços médicos de excelência. Com acesso a uma ampla rede de especialistas, hospitais e centros de referência, este plano oferece benefícios exclusivos e uma experiência de cuidados de saúde diferenciada.</p>
        
        <div class="detalhes">
          <h2>Detalhes do Plano 2:</h2>
          <p>Preço: R$ 150,00/mês</p>
          <p>Idade mínima: 18 anos</p>
          <p>Idade máxima: 60 anos</p>
          <p>Cobertura:</p>
          <ul>
            <li>Consultas com especialistas renomados</li>
            <li>Exames de alta complexidade</li>
            <li>Cirurgias avançadas</li>
            <li>Internações em hospitais de referência</li>
            <li>Tratamentos inovadores</li>
            <li>Medicamentos de última geração</li>
          </ul>
          <p>Endereço: Rua C, 789</p>
          <p>Telefone: (999) 987-6543</p>
        </div>
        
        <div class="empresa-info">
          <h3>Sobre a MaxMedical:</h3>
          <p>A MaxMedical é uma empresa líder no setor de saúde, dedicada a fornecer soluções abrangentes e inovadoras para cuidar da saúde de nossos clientes. Com uma equipe experiente e comprometida, oferecemos um atendimento personalizado e de alta qualidade, visando sempre o bem-estar e a satisfação de nossos clientes.</p>
          <p>Estamos empenhados em promover a saúde e a qualidade de vida, priorizando a prevenção, o diagnóstico precoce e o tratamento adequado. Com a MaxMedical, você tem a tranquilidade de contar com um plano de saúde confiável e serviços de excelência.</p>
        </div>
      </div>
</div>
