.area-medica {
  max-width: 800px;
  margin: 0 auto;
}

.cabeçalho {
  text-align: center;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.formulario label {
  margin-right: 10px;
}

.formulario input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
}

.formulario button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: #0056b3;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-header-cell,
.mat-cell {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.mat-header-row {
  background-color: #f2f2f2;
}

.mat-cell {
  background-color: #fff;
}

.mat-cell button {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.mat-cell button:hover {
  color: #007bff;
}
.pacientes{
  display: flex;
  justify-content: center;
}
.formulario-botao{
  width: 20vw;
  height: 5vh;
  border-radius: 4px
}
