.area-medica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .area-medica h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: linear-gradient(to bottom, #194a8b, #81a3e2);
    padding: 40px;
    color: white;
    text-align: center;
  }


  .formulario {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -300px;
    margin-left: -700px;
    padding: 20px;
  }
  
  .formulario label {
    margin-right: 10px;
  }
  
  .formulario input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .formulario button {
    padding: 10px 20px;
    background-color: #194a8b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formulario button[type="submit"] {
    background-color: #85a2d6;
    margin-right: 10px;
  }

  .formulario label {
    margin-right: 10px;
    color: rgb(18, 18, 119);
    font-weight: bold;
  }