<div class="formularioLogin-container">
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="formularioLogin" #formDir="ngForm">
        <div class="input-form">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email">
            </div>
            <div *ngIf="email.invalid && formDir.submitted" class="error-messages">
                <p>O e-mail é obrigatório</p>
            </div>
            <div>
                <label for="senha">Senha</label>
                <div class="input-container">
                    <input [type]="olho ? 'text' : 'password'" id="senha" formControlName="senha">
                    <input class="input-checkbox" type="checkbox" (change)="handleCheckboxChange($event)" [checked]="olho" />
                </div>
            </div>
            <div *ngIf="senha.invalid && senha.touched" class="error-messages">
                <div *ngIf="senha.hasError('required')">
                  A senha é obrigatória.
                </div>
                <div *ngIf="senha.hasError('senhaInvalida')">
                  A senha deve conter pelo menos uma letra maiúscula, um número e um caractere especial.
                </div>
            </div>
        </div>
        <div class="botao-form">
            <mat-card-actions class="botaoLogin">
                <button type="submit">Login</button>
            </mat-card-actions>
        </div>
        <a mat-button routerLink="/register" class="botaoRegister">Register</a>
    </form>
</div>