.mat-sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* define a altura do container para 100% da altura da viewport */
}

mat-icon-button{
  float: right;
}
/* Estilos personalizados para o MatSidenav */
.mat-sidenav {
  width: 150px;
  background-color: #004a9f;
}

/* Estilos para o botão de fechar o MatSidenav */
.mat-sidenav mat-toolbar{
  font-size: 30px;
  color: #fff;
}

/* Estilos para os itens da lista de navegação no MatSidenav */
.mat-sidenav mat-nav-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #004a9f;
  transition: background-color 0.3s;
}

/* Estilos para o ícone no item da lista de navegação */
.mat-sidenav mat-nav-list a mat-icon {
  margin-right: 8px;
}

/* Estilos para o item da lista de navegação ativo */
.mat-sidenav mat-nav-list a.active {
  color: #fff;
}

.mat-drawer-content {
  overflow: hidden;
}

.mat-drawer-content::-webkit-scrollbar {
  display: none;
}
.icone{
  padding-top: 20px;
}
.texto-nav{

}