<div class="formularioCadastro-container">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="formularioCadastro" #formDir="ngForm">
        <div class="input-form">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" formControlName="titulo" placeholder="Digite o Titulo da mensagem">
                <div>
                    <label>
                      Meu Checkbox:
                      <input type="checkbox" formControlName="meuCheckbox">
                    </label>
                  </div>
            </div>
            <div class="botao-form">
                <mat-card-actions class="botaoCadastro">
                    <button type="submit">Register</button>
                </mat-card-actions>
            </div>
        </div>
    </form>
    <!-- <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="formularioCadastro" #formDir="ngForm">
        <div class="input-form">
            <div>
                <label for="nomeCompleto">Nome Completo</label>
                <input type="text" id="nomeCompleto" formControlName="nomeCompleto" placeholder="Dr(a) nome do médico">
                <div *ngIf="nomeCompleto.invalid && formDir.submitted" class="validation-error">
                    <p>O nome completo é obrigatório</p>
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="text" id="email" formControlName="email">
                    <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
                        <p>O e-mail é obrigatório</p>
                    </div>
                </div>
                <div>
                    <label for="email">CRM</label>
                    <input type="text" id="crm" formControlName="crm">
                    <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
                        <p>O e-mail é obrigatório</p>
                    </div>
                </div>
                <div>
                    <label for="especialidade">Especialidade</label>
                    <select id="especialidade" formControlName="especialidade">
                      <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
                    </select>
                    <div *ngIf="especialidade.invalid && formDir.submitted" class="validation-error">
                      <p>A especialidade é obrigatória</p>
                    </div>
                  </div>
                <div>
                    <label for="senha">Senha</label>
                    <input type="text" id="senha" formControlName="senha">
                    <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
                        <p>A senha é obrigatória</p>
                    </div>
                </div>
            </div>
            <div class="botao-form">
                <mat-card-actions class="botaoCadastro">
                    <button type="submit">Register</button>
                </mat-card-actions>
            </div>
        </div>
    </form> -->
</div>
