<div class="container">
    <div class="plano-info">
        <h1>Plano para Idosos - MaxMedical</h1>
        
        <h2>Descrição do Plano 3:</h2>
        <p>O Plano 3 da MaxMedical oferece uma cobertura abrangente para garantir que você tenha acesso a serviços médicos de qualidade. Com uma ampla rede de profissionais de saúde, hospitais e clínicas renomados, este plano é ideal para quem busca uma proteção completa para a saúde e bem-estar.</p>
        
        <div class="detalhes">
          <h2>Detalhes do Plano 3:</h2>
          <p>Preço: R$ 200,00/mês</p>
          <p>Idade mínima: 60 anos</p>
          <p>Idade máxima: 999 anos</p>
          <p>Cobertura:</p>
          <ul>
            <li>Consultas especializadas</li>
            <li>Exames diagnósticos</li>
            <li>Cirurgias eletivas</li>
            <li>Internações hospitalares</li>
            <li>Tratamentos terapêuticos</li>
            <li>Medicamentos prescritos</li>
          </ul>
          <p>Endereço: Rua B, 456</p>
          <p>Telefone: (555) 123-4567</p>
        </div>
        
        <div class="empresa-info">
          <h3>Sobre a MaxMedical:</h3>
          <p>A MaxMedical é uma empresa líder no setor de saúde, dedicada a fornecer soluções abrangentes e inovadoras para cuidar da saúde de nossos beneficiários. Com uma equipe experiente e comprometida, oferecemos um atendimento personalizado e de alta qualidade, visando sempre o bem-estar e a satisfação de nossos clientes.</p>
          <p>Estamos empenhados em promover a saúde e a qualidade de vida, priorizando a prevenção, o diagnóstico precoce e o tratamento adequado. Com a MaxMedical, você tem a tranquilidade de contar com um plano de saúde confiável e serviços de excelência.</p>
        </div>
      </div>
</div>