body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.formularioCadastro-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.formularioCadastro {
  text-align: center;
}

.titulo {
  margin-bottom: 20px;
}

.titulo h1 {
  font-size: 24px;
}

.input-form {
  margin-bottom: 20px;
}

.input-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.input-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.validation-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.input-container {
  position: relative;
}

.input-container input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container .input-checkbox {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.error-messages {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.botao-form {
  text-align: left;
}

.botaoCadastro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.botaoCadastro button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botaoCadastro .botaoLogin {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}
