.footer {
  background-color: #f2f2f2;
  color: #888888;
  padding: 10px;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  flex: 0 0 100px; /* Define a largura fixa para o elemento de logo */
}

.footer .logo img {
  width: 100%; /* Ocupa toda a largura disponível */
}

.footer .links {
  flex-grow: 1; /* Ocupa o espaço restante disponível */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer nav {
  margin-left: 20px;
}

.footer a {
  margin-right: 10px;
  color: #888888;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
