<div class="container">

    <h1>Tipos Convênios</h1>
  
    <div class="convenios">
      <div class="convenio-card card-1">
        <h2>Convênio para crianças</h2>
        <p class="preco">R$ 100,00/mês</p>
        <div class="idades">
          <p>Idade mínima: 18 anos</p>
          <p>Idade máxima: 65 anos</p>
        </div>
        <p>Descrição do convênio 1.</p>
        <p>Endereço: Rua A, 123</p>
        <p>Telefone: (123) 456-7890</p>
        <div class="actions">
          <button routerLink="/plano_convenio1">Ver detalhes</button>
          <button class="solicitar-button">
            <a href="https://api.whatsapp.com/send?phone=5516994160479&text=sua%20mensagem" target="_blank"><i class="fab fa-whatsapp"></i> Solicitar</a>
          </button>
        </div>
      </div>
      
      <div class="convenio-card card-2">
        <h2>Convênio para Adultos</h2>
        <p class="preco">R$ 150,00/mês</p>
        <div class="idades">
          <p>Idade mínima: 20 anos</p>
          <p>Idade máxima: 60 anos</p>
        </div>
        <p>Descrição do convênio 2.</p>
        <p>Endereço: Rua B, 456</p>
        <p>Telefone: (555) 123-4567</p>
        <div class="actions">
          <button routerLink="/plano_convenio2">Ver detalhes</button>
          <button class="solicitar-button">
            <a href="https://api.whatsapp.com/send?phone=5516994160479&text=sua%20mensagem" target="_blank"><i class="fab fa-whatsapp"></i> Solicitar</a>
          </button>
        </div>
      </div>
      
      <div class="convenio-card card-3">
        <h2>Convênio para Idosos</h2>
        <p class="preco">R$ 200,00/mês</p>
        <div class="idades">
          <p>Idade mínima: 25 anos</p>
          <p>Idade máxima: 55 anos</p>
        </div>
        <p>Descrição do convênio 3.</p>
        <p>Endereço: Rua C, 789</p>
        <p>Telefone: (999) 987-6543</p>
        <div class="actions">
          <button routerLink="/plano_convenio3">Ver detalhes</button>
          <button class="solicitar-button">
            <a href="https://api.whatsapp.com/send?phone=5516994160479&text=sua%20mensagem" target="_blank"><i class="fab fa-whatsapp"></i> Solicitar</a>
          </button>
        </div>
      </div>
    </div>
</div>
