<div class="cards-container">
    <div class="title">
        {{title}}
    </div>
    <div class="card">
        <div class="subtitle">
            {{subtitle}}
        </div>
        <div>
            <img mat-card-image class="cards-img" [src]="url" [alt]="alt">
        </div>
        <div class="textContent">
            <mat-card-content>
                <p>{{textContent}}</p>
            </mat-card-content>
        </div>
            <mat-card-actions>
                <button mat-button class="botao">{{buttoncard}}</button>
            </mat-card-actions>
    </div>
</div>
